<div class=" d-flex flex-column align-item-stretch panel-content text-justify">  
          <h1>Les formations à venir </h1>
          <p>La suite &quot;Créative Cloud&quot; d'Adobe est maintenant installée sur le PC du labo, les dernières versions de Photoshop et de Camera RAW sont donc disponibles.</p>
          <p>De plus l'imprimante EPSON SC-P5000 a été mise en route et elle remplace l'EPSON 4900 depuis le 23 janvier 2017.</p>
          <p>Les profils sur mesure ont été réalisés et sont installés sur le PC du labo. Nous espérons une longue vie à cette imprimante !</p>
          <p class="Entete">Prochaines formations :</p>
          <p class="Entete">&nbsp;	</p>
</div>