<div class=" d-flex flex-column align-item-stretch panel-content text-justify">  
  <h1>Les différents liens utiles</h1>
      <h2 align="left">Les sites liés</h2>
      <p align="left" class="texte">
        <a href="http://objectif-image.fr/OI/">Le site Objectif Images</a>
      </p>
      <p align="left" class="texte">
        <a href="https://fr-fr.facebook.com/people/Oib-Objectif-Image-Blagnac/100010374825837">La page Facebook OI Blagnac</a>
      </p>
      <h2 align="left">Les sites &quot;techniques&quot;</h2>
      <p align="left" class="texte">
        <a href="https://www.guide-gestion-des-couleurs.com/sommaire-gestion-couleurs.html">La gestion des couleurs</a>
      </p>
      <p align="left" class="texte">
        <a href="https://www.xrite.com/hue-test">Evaluez votre écran</a>: En positionnant chaque patch à sa place vous évaluez votre vue et votre écran
      </p>
      <p align="left" class="texte">
        <a href="http://www.color.org/index.xalter">International Color Consortium (ICC)</a>
      </p>
</div>