.panel-content {
 details {
     width: 60vw;
     margin: 20px;
     summary {
        background-color: #222222;
        border: #03859c 1px solid;

        color: #a0a0a0;
     }
     .list-group
     { 
         .list-group-item { 
             background-color: #222222;
     }
    }
 }
}   