<div class=" d-flex flex-column align-item-stretch panel-content text-justify">  
        <h1>Les galeries des  concours organisés par le club</h1>
        <div align="center">
            <details open="true">
                <summary class="list-group-item   list-group-item-action">2018</summary>
                <ul class="list-group ">
                    <li class="list-group-item">
                        <a href="http://www.oi-blagnac.fr/Galerie/galeries_co.php?id=2018_Fronton-fete&page=1">
                          Concours Fropnton thème Fête et Joie en Occitanie
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://www.oi-blagnac.fr/Galerie/galeries_co.php?id=2018_Fronton-libre&page=1">
                          Concours Fronton thème libre
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://www.oi-blagnac.fr/Galerie/galeries_co.php?id=2017_Concours_Libre&page=1">
                          Concours libre
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://www.oi-blagnac.fr/Galerie/galeries_co.php?id=2017_Concours_Enfance&page=1">
                          Concours Enfance
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://www.oi-blagnac.fr/Galerie/galeries_co.php?id=2017_Salon_NB&page=1">
                          Les photos N&B envoyées au salon national
                        </a>
                    </li>
                  </ul>
              </details>
          
              <details  class="d-flex flex-row">
                <summary class="list-group-item   list-group-item-action">2017</summary>
                <ul class="list-group ">
                    <li class="list-group-item">
                      <a href="http://www.oi-blagnac.fr/Galerie/galeries_co.php?id=2017_Salon_couleur&page=1">
                        Les photos couleur envoyées au salon national
                      </a>
                    </li>
                    <li class="list-group-item">
                      <a href="http://www.oi-blagnac.fr/Galerie/galeries_co.php?id=2016_Concours_Libre&amp;page=1">
                        Le concours 2016 &quot;Libre&quot;
                      </a>
                    </li>
                    <li class="list-group-item">
                      <a href="http://www.oi-blagnac.fr/Galerie/galeries_co.php?id=2016_Concours_Jaune&page=1">
                        Le concours2016 "Jaune"
                      </a>
                    </li>
                    <li class="list-group-item">
                      <a href="http://www.oi-blagnac.fr/Galerie/galeries_co.php?id=2015_concoursinsolite&page=1">
                        Le concours "Insolite"
                      </a>
                    </li>
                  </ul>
              </details>

              <details  class="d-flex flex-row">
                <summary class="list-group-item   list-group-item-action">2016</summary>
                <ul class="list-group ">
                    <li class="list-group-item">
                      <a href="http://www.oi-blagnac.fr/Galerie/galeries_co.php?id=2015_concourslieuxdeposte&page=1">
                        Le concours " Lieux de Poste"
                      </a>
                    </li>
                  </ul>
              </details>
              <details  class="d-flex flex-row">
                <summary class="list-group-item   list-group-item-action">2015</summary>
                <ul class="list-group ">
                    <li class="list-group-item">
                      <a href="http://www.oi-blagnac.fr/Galerie/galeries_co.php?id=2015_concoursoib&page=1">
                        Concours 2015
                      </a>
                    </li>
                  </ul>
              </details>
              <details class="d-flex flex-row">
                <summary class="list-group-item  list-group-item-action">2014</summary>
                <ul class="list-group ">
                    <li class="list-group-item">
                      <a href="http://www.oi-blagnac.fr/Galerie/galeries_co.php?id=2014_concoursoib&page=1">
                        Concours2014
                      </a>
                    </li>
                  </ul>
              </details>
              <details class="d-flex flex-row">
                <summary class="list-group-item   list-group-item-action">2013</summary>
                <ul class="list-group ">
                    <li class="list-group-item">
                      <a href="http://www.oi-blagnac.fr/Galerie/galeries_co.php?id=2013_concoursoib&page=1">
                        Concours 2013
                      </a>
                    </li>
                  </ul>
              </details>
              <details class="d-flex flex-row">
                <summary class="list-group-item   list-group-item-action">2012</summary>
                <ul class="list-group ">
                    <li class="list-group-item">
                      <a href="http://www.oi-blagnac.fr/Galerie/galeries_co.php?id=2012_concours_30ansoib&page=1">
                        Le concours des 30 ans de OI Blagnac
                      </a>
                    </li>
                  </ul>
              </details>
        </div>
</div>