
<div class=" d-flex flex-column align-item-stretch panel-content text-justify">  
      <h1>Présentation de la section vidéo :</h1>
      <p>
          <span class="important">Objectif Image Blagnac, c'est aussi une section vidéo.</span>
          <br>
          <br> L'activité principale de cette section est de réaliser collectivement un projet vidéo (fiction, docu, etc..).
          <br> Pour des projets personnels aboutis, la section vidéo peut aussi apporter son soutien (conseils artistiques, techniques
          et logistique).
          <br>
          <br> Des formations sont aussi prodiguées ponctuellement.
      </p><h2 class="important">Les vidéos</h2>
    <div class="content-video ">
        <app-card  class="" *ngFor="let actualite of actualites " [actualite]="actualite"></app-card>
    </div>
</div>

    
