<div class=" d-flex flex-column align-item-stretch panel-content text-justify">  
  <h1>Les fichiers disponibles</h1>

      <div>
        <strong>
          <u>Bordereaux:</u>
        </strong>
        <br>
        <span class="texte">
          <a href="http://www.oi-blagnac.fr/telechargement/bordereau_expo.xls">Le bordereau d'envoi pour les exposition (à expo@oi-blagnac.fr)</a>
        </span>
      </div>

      <div>
        <strong>
          <u>Profils ICC:</u>
        </strong>
        <br />
        <span class="texte">
          <a href="http://www.oi-blagnac.fr/telechargement/CMP P5000 H Photo Luster 260 V-2.icm"> Imprimante EPSON SC P-5000 Hanhnemülhe Photoluster 260</a>
        </span>
      </div>

      <div>
        <strong>
          <u>Formation: </u>
        </strong>
        <br />
        <span class="texte">
          <a href="http://www.oi-blagnac.fr/telechargement/Bases_photo.pdf" target="_new">Les bases de la photo</a>
        </span>
        <br />
        <span class="texte">
          <a href="http://www.oi-blagnac.fr/telechargement/Bases du Traitement.pdf" target="_new">Les bases du traitement Photoshop</a>
        </span>
        <br />
        <span class="texte">
          <a href="http://www.oi-blagnac.fr/telechargement/Traitement avance.pdf" target="_new">Photoshop avancé par l'exemple</a>
        </span>
        <br />
        <span class="texte">
          <a href="http://www.oi-blagnac.fr/telechargement/LR3_Support_V3.pdf" target="_new">Lightroom</a>
        </span>
        <br />
        <span class="texte">
          <a href="http://www.oi-blagnac.fr/telechargement/Impression_SC-P5000.pdf" target="_new">L'impression sur EPSON SC-P5000</a>
        </span>
        <br />
        <span class="texte">- La gestion des couleurs
        </span>
      </div>

      <div>
        <u>
          <strong>Scripts Photoshop: </strong>
        </u>
        <strong></strong>
        <br />
        <span class="texte">
          <a href="http://www.oi-blagnac.fr/telechargement/scripts/scripts.zip">OI Blagnac</a>
        </span>
      </div>

      <div>
        <strong>
          <u>Règlement</u>
        </strong> :
        <br />
        <span class="texte">
          <a href="http://www.oi-blagnac.fr/telechargement/Materiel.pdf" target="_new">Le prêt de matériel </a>
        </span>
        <br />
        <span class="texte">-
          <a href="http://www.oi-blagnac.fr/telechargement/Reglement_cafeteria.pdf" target="_new">Les expositions cafétéria</a>
        </span>
      </div>

      <div>
        <strong>
          <u>Statuts:</u>
        </strong>
        <br />
        <span class="texte">
          <a href="http://www.oi-blagnac.fr/telechargement/Statuts.pdf" target="_new">Statuts OI Blagnac</a>
        </span>
      </div>

      <strong>
        <u>CR AG:</u>
      </strong>

      <div>
        <span class="texte">
          <a href="http://www.oi-blagnac.fr/telechargement/CR AG 2011.pdf" target="_new">CR AG 2011 </a>
        </span>
        <span class="texte">
          <a href="http://www.oi-blagnac.fr/telechargement/CR AG 2012.pdf" target="_new">CR AG 2012</a>
        </span>
        <br />
        <span class="texte">
          <a href="http://www.oi-blagnac.fr/telechargement/CR AG 2013.pdf" target="_new">CR AG 2013</a>
        </span>
        <br />
        <span class="texte">
          <a href="http://www.oi-blagnac.fr/telechargement/CR AG 2014.pdf" target="_new">CR AG 2014</a>
        </span>
        <br />
        <span class="texte">
          <a href="http://www.oi-blagnac.fr/telechargement/CR AG 2015.pdf" target="_new">CR AG 2015</a>
        </span>
        <br />
        <span class="texte">
          <a href="http://www.oi-blagnac.fr/telechargement/CR AG 2016.pdf" target="_new">CR AG 2016</a>
        </span>
        <br />
        <span class="texte">
          <a href="http://www.oi-blagnac.fr/telechargement/CR AG 2017.pdf" target="_new">CR AG 2017</a>
        </span>
      </div>
</div>
